.addItemButton {
    background: #2DCA73;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;

    position: absolute;
    right: 95px;
    top: 1.56%;

    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;
    text-align: center
}

.viewSelectionContainer {
    margin-top: 46px;
}

.viewSelection {
    width: 200px;
    height: 40px;
    border: 1px solid #D7DFE9;
}

.viewSelection:focus {
    outline: none !important;
}

.viewSelectionSelected {
    background: #0B69FF;
    color: #FFFFFF;
    outline: none !important;
}