.rowStyle {
    padding: 0px;
    margin: 0px auto;
    height: calc(100vh - 72px);
    /* max-width: 1080px; */
}

.urls {
    color: #0B69FF;
}

.txtA {
    height: 80px !important;
    resize: none;
}
.colStyle {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.leftCol {
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
    overflow: scroll;
}

.contentMainContainer {
    flex-grow: 1;
    width: 320px;
    margin: auto;
}

.backDiv{
    width: fit-content;
    margin-left: 12px;
    cursor: pointer;
    color: #7E858E;
    padding: 10px;
}

.itemTitle{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 32px;
}

.itemSubtitleContainer {
    margin-bottom: 32px;
    text-align: initial;
}

.itemSubtitle {
    color: #7E858E;
    font-size: 12px;
    font-weight: 600;
}

.itemInput {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-left: 16px;
    border: 1px solid #D7DFE9;
}

.itemInput:focus-visible {
    outline: none;
}

.rightImgStyle {
    height: 100%;
    width: 100%;
}